<%- include('_header.ejs') -%>

<ul><% for (const [name, {date, title}] of Object.entries(posts)) { -%>
    <li><%= date.toDateString() %>: <a href="posts/<%= name %>.html"><%= title %></a></li>
<% } -%></ul>

<%- include('_footer.ejs') -%>
