<%- include('_header.ejs') -%>

<h1>tinyjam example</h1>

<% const names = Object.keys(posts).sort((a, b) => posts[b].date - posts[a].date); -%>
<ul>
<% for (const name of names) { const {date, title} = posts[name]; -%>
    <li><%= date.toDateString() %>: <a href="posts/<%= name %>.html"><%= title %></a></li>
<% } -%>
</ul>

<%- include('_footer.ejs') -%>
