<?xml version="1.0"?>
<rss version="2.0">
<channel>

<title><%= data.title %></title>
<link><%= data.link %></link>
<description>A minimal blog template for tinyjam.</description>

<% for (const name of Object.keys(posts).reverse()) { const {title, body} = posts[name]; -%>
<item>
     <title><%= title %></title>
     <link><%= data.link %>posts/<%= name %>.html</link>
     <description><![CDATA[<%- body.trim() %>]]></description>
</item>
<% } -%>

</channel>
</rss>
